
<div class="table-responsive mt-5">
    <h3 class="text-center">Registered Students</h3>
    <br>
    <table class="table table-bordered text-center">

        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of added; let last = last">
                <td>{{item.id}}</td>
                <td>{{item.FirstName}}</td>
                <td>{{item.LastName}}</td>
                <td>{{item.Email}}</td>
                <td>{{item.Phone}}</td>
                <td>{{item.Password}}</td>

            </tr>
        </tbody>
    </table>
</div>